name: Get and Save GitHub IPs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  get_and_commit_ips:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write 

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - name: Fetch and Filter GitHub Meta IPs
        id: ip_filter
        shell: bash
        run: |
          IP_LIST=$(curl -s "https://api.github.com/meta" | jq -r '
            . | 
            {
              hooks: .hooks, 
              web: .web, 
              api: .api, 
              git: .git, 
              github_enterprise_importer: .github_enterprise_importer,
              packages: .packages,
              pages: .pages,
              importer: .importer
            } |
            flatten |
            map(select(. | test("^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}(\\/\\d{1,2})?$"))) | 
            sort |
            unique |
            .[]
          ')
          
          echo "ip_list<<EOF" >> $GITHUB_OUTPUT
          echo "$IP_LIST" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Save IPs to File
        run: |
          echo "${{ steps.ip_filter.outputs.ip_list }}" > github_ip_list.txt
          echo "IP list saved to github_ip_list.txt"

      - name: Commit and Push Changes
        run: |
          git config --global user.name "Rush-er"
          git config --global user.email "stoccomatis7@gmail.com"
          git add github_ip_list.txt
          
          if ! git diff-index --quiet HEAD; then
            echo "Changes detected. Committing and pushing..."
            git commit -m "Automated update of GitHub IP list"
            git push
          else
            echo "No changes to github_ip_list.txt. Nothing to commit."
          fi
